table,
td {
    border: 1px solid #333;
    text-align: center;
    font-size: 35px; /*Taille tableau augmentée*/
    padding: 10px 22px; /*Taile tableau augmentée*/
}



td sub{
    font-size: 20px; /*Taille tableau augmentée*/
}

.disap{
    font-size: 20px; /*Taille tableau augmentée*/
    position: relative;
    left: 15px;
}

.b{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px; /*Taille bouton augmentée*/
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 10px;
}

.b1{
    background-color: white;
    color: black;
    border: 5px solid red;
}

.b1:hover{
    background-color: red;
    color: white;
}

.b2{
    background-color: white; 
    color: black; 
    border: 5px solid #4CAF50;
}

.b2:hover{
    background-color: #4CAF50;
    color: white;
}

.b3{
    background-color: white; 
    color: black; 
    border: 5px solid #123EED;
}

.b3:hover{
    background-color: #123EED; 
    color: white;
}

.b4{
    background-color: white; 
    color: black; 
    border: 5px solid #F2BE0D;
}

.b4:hover{
    background-color: #F2BE0D; 
    color: white; 
}

.b5{
    background-color: grey;
}

.b5:hover{
    border: 5px solid grey;
    color: grey;
    background-color: white;
}

.b6{
    background-color: white; 
    color: black; 
    border: 5px solid purple;
}

.b6:hover{
    background-color: purple; 
    color: white; 
}

.divinfo{
    font-size: 80px; /*Taille augmentée*/
    border: 8px solid #A485AD; /*Taille bordure augmentée*/
    display: none;
}

.vide{
    border: none;
}

.number{
    border: none;
    font-size: 20px; /*Taille augmentée*/
    padding: 1px 1px;
    background-color: aqua;
}

.ma{
    background-color: #729FCF;
}

.mat{
    background-color: #FFBF00;
}

.h{
    background-color: #81D41A;
}

.gn{
    background-color: #FFFF38;
}

.m1{
    background-color: #999999;
}

.m, .mt{
    color: #313131;
}

.nm{
    color: #456A0F;
}

.tempfus:hover, .tempvap:hover, .elec:hover, .rayon:hover, .energion:hover, .affelec:hover, .db:hover{
    cursor: help;
    text-decoration: underline;
}

.divexplain{
    padding: 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
    display: none;

}

.closebtn {
    margin-left: 15px;
    color: red;
    font-weight: bold;
    float: right;
    font-size: 100px; /*Taille augmentée*/
    line-height: 20px;
    cursor: pointer;
    transition-duration: 0.3s;
}
  
.closebtn:hover {
    color: black;
}

.laac{
    font-size: 30px; /*Taille augmentée*/
}

.infotr{
    border: none;
    font-size: 16px;
}

.imginfo{
    border-color: #1c87c9;
    border-style: solid;
    border-width: 20px;
    position: relative;
    left: 300px; /*Décalage augmenté*/
}

.figcapt{
    position: relative;
    left: 300px; /*Décalage augmenté*/
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.divbottom{
    background-color: grey;
    border: 5px solid grey;
    text-align: center;
}

.linkbottom{
    text-decoration: none;
}

.linkbottom:hover{
    color: lime;
    transition-duration: 0.4s;
}

.lrad{
    display: none;
    font-family: cursive;
    font-size: 70px;
    border: 4px solid purple;
    padding: 10px 20px;
}

/*Police cursive supprimée, Taille texte html augmentée et ajout div prévention pour cette version mobile*/

.warning{
  font-family: cursive;
  font-size: 30px;
  border: 10px solid red;
  padding: 7px 10px;
}

.enadd{
    font-family: cursive;
    font-size: 19px;
    background-color: gold;
    border-radius: 10px;
    padding: 10px 10px;
}

.linken:hover{
    color: lime;
    transition-duration: 0.4s;
}